* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    background: linear-gradient(90deg, rgba(94,40,124,1) 0%, rgba(9,69,121,1) 50%, rgba(0,212,255,1) 100%);
}

#calc {
    margin: auto;
    height: 670px;
    width: 400px;
    margin-top: calc(50vh - 350px);
    border: 2px solid black;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #1f2f3a;
}

#tela {
    height: 100px;
    width: 100%;
    border: solid black 1px;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: right;
    padding: 10px;
}

#res01 {
    height: 25px;
    width: 100%;
    font-size: 25px;
}

#res02 {
    height: 75px;
    width: 100%;
    font-size: 50px;    
}

#linha1, #linha2, #linha3, #linha4, #linha5 {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

#linha1 div, #linha2 div, #linha3 div, #linha4 div, #virgula, #res {
    border: 2px solid black;
    height: 100%;
    width: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#res {
    background-color: rgb(70, 255, 70);
}

#linha1 div button, #linha2 div button, #linha3 div button, #linha4 div button, #virgula button, #res button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0px;
}

#linha1 div button:hover, #linha2 div button:hover, #linha3 div button:hover, #linha4 div button:hover, #virgula button:hover, #res button:hover{
    cursor: pointer
}

#linha1 div button:active, #linha2 div button:active, #linha3 div button:active, #linha4 div button:active, #virgula button:active, #res button:active{
    background-color: rgb(152, 148, 148);
}

#num_0 {
    border: 1px solid black;
    height: 100px;
    width: 180px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#num_0 button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 0px;
}

#num_0 button:hover {
    cursor: pointer;
}

#num_0 button:active {
    background-color: rgb(152, 148, 148);
}